<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Travelatr</h1>

    <% if flash[:errors] %>
      <ul>
      <% flash[:errors].each do |error| %>
        <li style="color:red"><%= error %></li>
      <% end %>
      </ul>
      <% flash.clear %>
    <% end %>

    <%= yield %>

    <br>
    <%= link_to "All Bloggers", bloggers_path%>
    <br><br>
    <%= link_to "All Posts", posts_path%>
    <br><br>
    <%= link_to "All Destinations", destinations_path%>
    <br><br>

  </body>
</html>
